body {
	/*  web font from http://fontspace.com/bythebutterfly/cutie-patootie  */
	
	font-family: 'cutie-patootie';
	background-image: url('images/kitchen.png');
	background-repeat: no-repeat;
	background-position: top center;
}
.container {
	width: 650px;
	margin: 0 auto;
}
.input {
	width: 500px;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
	background-image: url('images/lines.png');
}
h1 {
	padding-top: 20px;
	font-size: 48px;
	margin-bottom: 10px;
}
#item {
	margin-top: 8px;
	height: 20px;
	width: 200px;
	vertical-align: center;

}
button {
	height: 24px;
	width: 24px;
	background: none;
	font-size: 18px;
	border: 2px solid;
	border-radius: 5px;
	padding: 0 0 4px 0;

}

#list {
	margin-top: 4px;
	padding: 5px 40px 5px 15px;
	text-align: left;
	list-style: none;
}
#list li {
	padding-left: 40px;
	font-size: 24px;
	font-weight: bold;
	background-image: url('images/box.png');
	background-repeat: no-repeat;
	background position: left center;
}
#delete {
	float: right;
}

.checked {
	text-decoration: line-through;
}
.checked li {
	background-image: url('images/boxChecked.png');
	background-repeat: no-repeat;
	background-position: left center;
}



/*comment*/
