body {
	/*  web font from http://fontspace.com/bythebutterfly/cutie-patootie  */
	
	font-family: 'cutie-patootie';
	background-image: url('images/kitchen.png');
	background-repeat: no-repeat;
	background-position: top center;
}
.container {
	width: 650px;
	margin: 0 auto;
}
.input {
	width: 500px;
	margin: 0 auto;
	border-radius: 2px;
	text-align: center;
	background-image: url('images/lines.png');
}
h1 {
	margin-top: 3px;
	padding-top: 20px;
	font-size: 48px;
	margin-bottom: 10px;
}
#item {
	margin-top: 8px;
	height: 20px;
	width: 200px;
	vertical-align: center;

}
button {
	height: 24px;
	width: 24px;
	background: none;
	font-size: 18px;
	border: 2px solid;
	border-radius: 5px;
	padding: 0 0 4px 0;

}
h2 {
	font-size: 22px;
	margin: 4px 0 0 0;
}
#list {
	margin-top: 0;
	padding: 5px 5px 5px 15px;
	text-align: left;
	list-style: none;
}
#list li {
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}
span {
	margin: 0;
}

.box {
	float: left;
	margin-top: 3px;
	margin-right: 30px;
	height: 17px;
	width: 17px;
	background-image: url('images/box_Sprite.png');

}
.Checked {
	height: 18px;
	/** 
	 * Because you've already applied a background-image to the .box, you
	 * don't need to reapply it here.  Instead, what you need to do is change
	 * the position of the background image so that the Checked box is showing.
	 *
	 * I'd like for you to try to find the answer on your own, if you can't find 
	 * it then let me know and I can help.  But basically, you'll be replacing the
	 * line below with a the correct property that changes the position.
	 */
	background-image: url('images/box_Sprite.png');
}
.strike {
	text-decoration: line-through;
}
.delete {
	float: right;
	margin-top: 3px;
	display: none;
}
.show {
	display: inline;
}


/*comment*/
